/* Experience Card specific styles */
.experience-card {
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: var(--secondary);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.experience-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--primary-color);
}

.experience-card h3 {
  font-size: 1.75rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.experience-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: var(--text-color-2);
}

.experience-card .experience-points {
  padding-left: 20px;
}

.experience-card .experience-point {
  margin-bottom: 10px;
  list-style-type: disc;
  color: var(--text-color);
}

.experience-card .experience-point:last-child {
  margin-bottom: 0;
}

.experience-icon {
  /* width: 50px;
  height: 50px; */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-icon img {
  width: 100%;
  height: auto;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .experience-card {
      padding: 15px;
  }
}


.timeline-container {
  background-color: var(--text-color); /* Dark theme line color */
}

